

<head>
  <link rel="stylesheet" type="type/css" href="/stylesheets/style_sheet_wikis_index.css">
</head>

  <h1><a href="/wikis/new" id="contribute-button">Contribute an Article</a></h1>

  <h2 class="all" id="business">Business</h2>
    <dl>
      <% wiki.forEach(function(wiki, i) { %>
      <% if (wiki.category === "business") { %>
          <div name="article" id="article">
            <h1><a href="/wikis/<%= wiki._id %>"><%= wiki.title %></a></h1>
            <dt>Author: <i><%= wiki.author %></i></dt><br>
            <dt style="content">More about that:<br><%- marked(wiki.content) %></dt>
          </div>
        <% }}); %>
    </dl>

  <h2 class="all" name="personal" id="personal">Personal</h2>
    <dl>
      <% wiki.forEach(function(wiki, i) { %>
      <% if (wiki.category === "personal") { %>
        <div id="article">
          <h1><a href="/wikis/<%= wiki._id %>/"><%= wiki.title %></a></h1>
          <dt>Author: <i><%= wiki.author %></i></dt><br>
          <dt style="content">More about that:<br><%- marked(wiki.content) %></td><br>
        </div>
      <% }}); %>
    </dl>

  <h2 class="all" name="collaborate" id="collaborate">Let's Collaborate</h2>
    <dl>
      <% wiki.forEach(function(wiki, i) { %>
      <% if (wiki.category === "collaborate") { %>
        <div id="article">
          <h1><a href="/wikis/<%= wiki._id %>"><%= wiki.title %></a></h1>
          <dt>Author: <i><%= wiki.author %></i></dt><br>
          <dt style="content">More about that:<br><%- marked(wiki.content) %></td><br>
        </div>
      <% }}); %>
    </dl>

  <h2 class="all" name="fun" id="fun">Just for Fun</h2>
    <dl>
      <% wiki.forEach(function(wiki, i) { %>
      <% if (wiki.category === "fun") { %>
        <div id="article">
          <h1><a href="/wikis/<%= wiki._id %>"><%= wiki.title %></a></h1>
          <dt>Author: <i><%= wiki.author %></i></dt><br>
          <dt style="content">More about that:<br><%- marked(wiki.content) %></td><br>
        </div>
      <% }}); %>
    </dl>
